# <center> EDA: EXPLORATORY AND DESCRIPTIVE ANALYSIS
## <center>EJERCICIO: Estudiar los pasajeros del Titanic

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'

## LEER DATOS

In [2]:
##### DOWNLOAD DATASET. ONLY IN COLAB !!!
!wget -P ./../data/ https://raw.githubusercontent.com/CenticMurcia/curso-ciencia-datos/master/data/titanic_train.csv

--2020-01-30 17:35:10--  https://raw.githubusercontent.com/CenticMurcia/curso-ciencia-datos/master/data/titanic_train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘./../data/titanic_train.csv’

titanic_train.csv   100%[===================>]  58.89K  --.-KB/s    in 0.01s

2020-01-30 17:35:10 (3.84 MB/s) - ‘./../data/titanic_train.csv’ saved [60302/60302]

In [0]:
train_df = pd.read_csv("../data/titanic_train.csv", 
                       index_col='PassengerId')

In [10]:
train_df.head(100)

             Survived  Pclass  ...     Fare Embarked
PassengerId                    ...
1                   0       3  ...   7.2500        S
2                   1       1  ...  71.2833        C
3                   1       3  ...   7.9250        S
4                   1       1  ...  53.1000        S
5                   0       3  ...   8.0500        S
...               ...     ...  ...      ...      ...
123                 0       2  ...  30.0708        C
124                 1       2  ...  13.0000        S
125                 0       1  ...  77.2875        S
126                 1       3  ...  11.2417        C
128                 1       3  ...   7.1417        S

[100 rows x 10 columns]

In [12]:
train_df['Pclass'].value_counts()

3    355
1    184
2    173
Name: Pclass, dtype: int64

In [6]:
train_df.describe(include='all')

          Survived      Pclass  ... Cabin Embarked
count   891.000000  891.000000  ...   204      889
unique         NaN         NaN  ...   147        3
top            NaN         NaN  ...    G6        S
freq           NaN         NaN  ...     4      644
mean      0.383838    2.308642  ...   NaN      NaN
std       0.486592    0.836071  ...   NaN      NaN
min       0.000000    1.000000  ...   NaN      NaN
25%       0.000000    2.000000  ...   NaN      NaN
50%       0.000000    3.000000  ...   NaN      NaN
75%       1.000000    3.000000  ...   NaN      NaN
max       1.000000    3.000000  ...   NaN      NaN

[11 rows x 11 columns]

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

## IGNORAMOS EL CAMAROTE (CABIN)

In [0]:
train_df = train_df.drop('Cabin', axis=1).dropna()

In [9]:
train_df.shape

(712, 10)

**1. Elaborar un gráfico para visualizar todos los gráficos de dispersión de cada par de variables: `Age`, `Fare`, `SibSp`, `Parch` y `Survived` (usar `scatter_matrix ` de Pandas o `pairplot` de Seaborn)**

In [0]:
# You code here

**2. Cuál es la relación entre el precio del billete (`Fare`) y la variable `Pclass`? (usar un diagrama de caja)**

In [0]:
# You code here

**3. Reconstruir el gráfico anterior ignorando los valores de `Fare` que sean menores del cuantil 95% de los iniciales, para eliminar posibles valores extremos (outliers)**

In [0]:
# You code here

**4. ¿Cuál es la relación entre el porcentaje de pasajeros que sobreviven y el sexo de los pasajeros? Representarlo gráficamente usando `Seaborn.countplot` con el argumento `hue`**

In [0]:
# You code here

**5. ¿Como varía la distribución de los precios del billete entre aquellos que sobreviven y aquellos que no? Representarlo usando `Seaborn.boxplot`**

In [0]:
# You code here

**6. ¿Qué relación hay entre la supervivencia y la edad de los pasajeros? Comprobar gráficamente la suposición de que los jóvenes (< 30 años) sobreviven más que los mayores (> 55 años)**

In [0]:
# You code here